


#masthead{height:80px;background-image:none;}#masthead .logo{display:inline;}#masthead .penneng{display:none;}#top_bar,.breadcrumb,ul.primary,ul.secondary{display:none;}#footer{border-top:1px solid #bebebe;margin-top:10px;padding:10px 0 0;text-align:left;}